
#landing-info {
  width: 78vw;
}

#landing-page {
  margin: 0 auto;
  align-content: center;
  height: 310px;
}

#landing-hero {
  font-family: var(--header-font);
  font-size: 2em;
  font-weight: 400;
}
